body{
    background-color: rgb(0, 0, 0);
    color: rgb(140, 167, 209);
    }
    .headings{
        color: rgb(170, 137, 96);
    }
    h1{
        color: rgb(233, 233, 233);
    }
    a:hover{
        color: coral;
    }
    a{
        color:rgb(167, 95, 201);
    }
    
    hr{
        background-color: rgb(0, 0, 0);
        /* border-style: none; */
        border-color: grey;
        border-style: none;
        border-top-style: dotted;
        border-width: 5px;
        /* height: 2px; */
        width:30%;
    }
    img{
        height: 200px;
        width: 200px;
    }
    #work{
        color: rgb(112, 202, 165);
    }